body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: #333;
    color: rgb(101, 95, 95);
    padding: 1em;
    width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: rgb(193, 211, 119);
    text-decoration: none;
}

.container {
    padding: 2em;
    text-align: center;
}

header {
    margin-bottom: 2em;
}

h1 {
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

.foto-redonda {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}
